.orderContainer {
  padding-top: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--primary-text);
  text-align: center;
}

.orderContainer h1 {
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.orderInfo h3 {
  margin: 20px 0;
}

.orderInfo p {
  margin: 20px 0;
}

.orderInfo ul {
  margin: 20px 0;
}
.orderInfo ul li {
  margin: 10px 0;
}

.subTotal {
  display: flex;
  justify-content: space-evenly;
}
